@media (max-width: 400px) {
  .banner {
    width: 1276px;
  }

  .banner .navbar .logo {
    margin-left: 150px;
  }
  .banner .button {
    margin-right: 215px;
  }
  .banner .main {
    margin-left: 150px;
  }

  .box {
    width: 1000px;
  }

  .row .cards {
    width: 310px;
    height: 284px;
  }
  .box .row {
    margin-left: 74px;
    margin-top: -55px;
  }

  .box .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 150px;
  }

  .education {
    /* margin-top: 80px; */
    margin-bottom: 80px;
    width: 1276px;
  }
  .education .layout {
    margin-left: 170px;
  }

  .education .layout .layout_row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .education .layout .layout_row .col_1 {
    margin-bottom: 80px;
  }

  /* .advice .main_box .box2 .product_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  } */

  .advice {
    width: 1276px;
  }

  .advice .main_box {
    margin-left: 180px;
  }

  .client {
    width: 1236px;
  }

  .client .client_content .row_2 .row2_content {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    /* margin-left: 100px; */
  }

  .feedback {
    width: 1276px;
  }

  .footer {
    width: 1276px;
  }
}

@media (max-width: 320px) {
  .banner {
    width: 1236px;
  }
  .banner .navbar .logo {
    margin-left: 150px;
  }
  .banner .button {
    margin-right: 215px;
  }
  .banner .main {
    margin-left: 150px;
  }
  /* .box {
    width: 1236px;
  }
  .row .cards {
    width: 310px;
    height: 284px;
  }
  .box .row {
    margin-left: 74px;
    margin-top: -55px;
  } */
  .education {
    width: 1236px;
  }
  /* .education .layout {
    margin-left: 170px;
  } */
  .advice {
    width: 1236px;
  }
  .advice .main_box {
    margin-left: 180px;
  }
  .client {
    width: 1236px;
  }
  /* .client .client_content {
    margin-left: 100px;
  } */
  /* .client .client_content .row_2 {
    margin-left: 198px;
  } */
  /* .client .client_content .row_2 .row2_content .cards {
    margin-right: 270px;
  } */
  .feedback {
    width: 1236px;
  }
  .feedback .feedback_content {
    margin-left: 90px;
  }
  .footer {
    width: 1236px;
  }
  .footer_content .footer_row_1 {
    width: 1190px;
    margin-left: 90px;
  }
  .footer_content .footer_row_2 {
    margin-left: 30px;
  }
}
